body { font: 16px Georgia, serif; background: #ccc; margin: 0px}
.wrapper { width: 600px; background: #efefef; padding: 18px}
.page-heading { margin-top: 0px; }
li.entry { display: block; padding: 18px; border-top: thin #aaa solid; border-right: thin solid #777; }
li.entry.source-twitter .entry-content { font-size: 16px; }
li.entry .entry-thumbnail-wrapper { float: left; padding-right: 20px; }
li.entry .entry-misc { font-size: 14px; }
li.entry .entry-content,
li.entry .entry-misc { margin-left: 70px }
li:nth-child(2n) { background: #e0e0e0; }
ul.entries { padding: 0; margin-left: -18px;}