<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml">
  <head>
    <title>News - Libre Projects</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      {% block minews_body %}
        {% block minews_page_heading %}
          <h1 class="page-heading">News - Libre Projects</h1>
        {% endblock %}
	{% block minews_navigation %}
	  <nav>
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/projects">Projects</a></li>
	    </ul>
	  </nav>
	{% endblock %}
        {% block minews_page_content %}
          <p>Nothing here!</p>
        {% endblock %}
      {% endblock %}
    </div>
  </body>
</html>
