{% extends 'layouts/2-columns.html' %}
{% block above_columns %}
  <h2><a href="/projects">Project</a>: {{ project.name }}</h2>
  <h3>Links</h3>
  <ul>
    {% for label, url in project.links.items() %}
      <li><a href="{{ url }}">{{ label }}</a></li>
    {% endfor %}
  </ul>
  <h3>Description</h3>
  <div class="project-description">
    {{ project.description }}
  </div>
{% endblock %}

{% block column_first %}
  <h3>General</h3>
  {% set stored_date = 0 %}
  <ul class="entries">
  {% for entry in entries_general %}
    {% if not entry.posted.date() == stored_date %}
      <li class="date-delimiter"><h3>{{ entry.posted.date() }}</h3></li>
      {% set stored_date = entry.posted.date() %}
    {% endif %}
    {% include 'util/entry.html' %}
  {% endfor %}
  </ul>
{% endblock %}

{% block column_second %}
  <h3>Advanced</h3>
  {% set stored_date = 0 %}
  <ul class="entries">
  {% for entry in entries_advanced %}
    {% if not entry.posted.date() == stored_date %}
      <li class="date-delimiter"><h3>{{ entry.posted.date() }}</h3></li>
      {% set stored_date = entry.posted.date() %}
    {% endif %}
    {% include 'util/entry.html' %}
  {% endfor %}
  </ul>
{% endblock %}
