    {% if posted == 0 %}
    {% endif %}
    <li class="entry type-{{ entry.type }} project-{{ entry.project_data.handle }}">
      <!-- id: {{ entry.guid }} -->
      {% if entry.project_data.logo_url and not no_logo %}
        <div class="project-logo-wrapper">
          <img src="{{ entry.project_data.logo_url }}" class="entry_thumbnail" />
        </div>
      {% endif %}
      <div class="entry-content">
        {% if entry.title %}
          <h3 class="entry-title"><a target="_blank" href="{{ entry.permalink }}">{{ entry.title }}</a></h3>
        {% endif %}
	{{ entry.content }}
      </div>
      <div style="clear: both;"></div>
      <div class="entry-misc">
        {% if entry.context %}
	  <div class="entry-context-wrapper">
            <a target="_blank" href="{{ entry.context.link }}">{{ entry.context.label }}</a>
	  </div>
        {% endif %}
        <em>
          From <a target="_blank" href="{{ entry.source.link }}">{{ entry.source.name }}</a>
          at <a target="_blank" href="{{ entry.permalink }}">{{ entry.posted }}</a>
        </em>
      </div>
    </li>
