body { width:75%; margin:5em auto;
	background:#333; color:#ccc;
	font:normal normal normal 1em/1.3em sans-serif;
	text-shadow:#000 0 0 .3em; }

a { color:#ccc; text-decoration:none; background: rgba(200, 200, 255, 0.2);}
a:hover, a:focus { color:#fff; text-shadow:#000 0 0 1em; outline:0; }
a:active { color:#ddd; }
a img { border:0; }
img { max-width:200px; max-height:200px; vertical-align:middle; }

ul { list-style:none; margin:0; padding:0; }
ul li { display:inline; }

/* main heading */

#div { position:absolute; margin:-3.7em 0 0 35em; }
p+h2+div+h2 { margin-top:1.4em; }
p+h2+div+h2+ul { margin-top:2em; }

/* category headings */
h2 { font-size:3em; margin:.8em 0 0 -2em; display:block; position:absolute; z-index:-100; text-transform:capitalize; }
h2 a { color:#222; text-shadow:#444 0 1px 0; }
h2 a:hover, h2 a:focus { color:#111; text-shadow:#444 0 1px 0; outline:0; }
h2#top+ul { margin-bottom:1.5em; }
h2#top+ul+h2 {margin-top:1.3em; }

h2+ul li { line-height:6em; }
h2+ul li a { padding:35px 20px; white-space:nowrap; }